@import "tailwindcss";

/* Tema claro por defecto */
body.theme-light {
    background-color: #f3f4f6;
    color: #111827;
  }
  
  /* Tema oscuro */
  body.theme-dark {
    background-color: #141e20;
    color: #ffffff;
  }
  
  /* Textos */
  body.theme-dark .text-gray-800,
  body.theme-dark .text-gray-600 {
    color: #ffffff;
  }
  
  body.theme-dark .text-gray-500 {
    color: #d1d5db;
  }
  
  /* Enlaces */
  body.theme-dark a {
    color: #3daed2;
  }
  
  body.theme-dark a:hover {
    color: #2b91b0;
  }
  
  /* Inputs */
  body.theme-dark input {
    background-color: #1f2937;
    color: #ffffff;
    border-color: #4b5563;
  }
  
  body.theme-dark input::placeholder {
    color: #9ca3af;
  }

  body.theme-dark label::selection {
    background-color: #3daed2;
    color: white;
  }

  /* Botones */
  .btn-primary {
    background-color: #3daed2;
    color: #ffffff;
  }
  
  .btn-primary:hover {
    background-color: #2b91b0;
  }
  